---
// Imports
import { getCollection } from 'astro:content';
import FactionLayout from '../../layouts/FactionLayout.astro';

// Collection Handeling
export async function getStaticPaths() {
	const factions = await getCollection('factions');
	return factions.map(faction => ({
		params: { slug: faction.slug },
		props: { faction },
	}));
}

const prerender = true;

const { faction } = Astro.props;
const { Content } = await faction.render();
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Infinite Space</title>
	</head>
	<body>
		<FactionLayout {...faction.data}>
			<Content/>
		</FactionLayout>
	</body>
</html>

<style>
	body {
		margin: 0;
		padding: 0;
	}
</style>

