---
// Imports
import Header from "../components/Header.astro";
import { getCollection } from 'astro:content';

// Const

const factions = await getCollection('factions');
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Infinite Space</title>
	</head>
    <header><Header/></header>
	<body>
		<div class="main-container">
			<h1>Wiki</h1>
		</div>
		<ul>
			{
				factions.map((faction) => (
					<li>
						<a href={`/factions/${faction.slug}`}>{faction.data.title}</a>
					</li>
				))
			}
		</ul>
		
	</body>
</html>

<style>

	@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

	:root {
		--background-color: #18191a;
		--heading-color: #b1cadb;
		--font-color: #5b6b75;
		--font: 'Open Sans', sans-serif;
	}

	body {
		background-color: var(--background-color);
	}

	h1, a, p, i {
		font-family: var(--font);
	}

	a, p, i {
		color: var(--font-color);
	}

	h1 {
		color: var(--heading-color);
	}
	
	a {
		text-decoration: none;
	}
	
	ul {
		color: var(--heading-color);
	}
	.main-container {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		
	}
</style>