---
import HeaderLink from "./HeaderLink.astro"
---

<header>
	<nav>
		<h2><a href="/">Infinite Space</a></h2>
		<div class="internal-links">
            <HeaderLink href="/">Home</HeaderLink>
            <HeaderLink href="/wiki-front">Wiki</HeaderLink>
		</div>
	</nav>
</header>
<style>
    :root {
		--background-color: #18191a;
		--heading-color: #b1cadb;
		--font-color: #5b6b75;
		--font: 'Open Sans', sans-serif;
	}

	header {
		margin: 0;
		padding: 0 1em;
		background: black;
		box-shadow: 0 2px 8px rgba(255, 255, 255, 0.336);
	}
	h2 {
        font-family: var(--font);
        color: white;
		margin: 0;
		font-size: 1.5em;
	}

	h2 a,
	h2 a.active {
        font-family: var(--font);
        color: white;
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
        font-family: var(--font);
        font-size: 1.2em;
		padding: 1em 0.5em;
		color: white;
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: rgb(161, 161, 161);
	}
</style>
