<nav>
    <div class="link-wrapper">
        <a href="/">Index</a>
    </div>
    <div class="link-wrapper">
        <a href="/wiki-front">Wiki</a>
    </div>
</nav>

<style>
    nav {
        margin-right: 10px;
        width: 100%;
        display: flex;
        justify-content: right;
        border-bottom-style: solid;
        border-color: #58595c;
    }
    .link-wrapper {
        margin-right: 5px;
        padding: 2px;
        display: inherit;
        justify-content: center;
        background: #000000;
        border: white 2px;
        border-radius: 6px;
    }
    a {
        text-decoration: none;
        color: var(--text-color);
        font-family: var(--font);
    }
    :root {
        --background-color: #18191a;
        --text-color: #b1cadb;
        --font: 'Open Sans', sans-serif;
    }
</style>