---
const { title, url, icon } = Astro.props
---
<script src="https://kit.fontawesome.com/84849b607e.js" crossorigin="anonymous"></script>
<div>
    <a href={url}> <i class=`${icon}`></i>{title}</a>
</div>

<style lang="scss">
    @import "node_modules/rpg-awesome/scss/rpg-awesome";

    :root {
		--background-color: #18191a;
		--heading-color: #b1cadb;
		--font-color: #5b6b75;
		--font: 'Open Sans', sans-serif;
	}

    div {
        display: flex;
        background-color: black;
        height: 100px;
        width: 200px;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
    }

    a {
        font-family: var(--font);
        font-size: 1.5em;
        text-decoration: none;
        color: var(--heading-color);
    }
</style>