---
// Imports
import { getCollection } from 'astro:content';
import DefaultHead from '../../components/DefaultHead.astro';
import CompanyLayout from '../../layouts/CompanyLayout.astro';

// Collection Handeling
export async function getStaticPaths() {
	const companies = await getCollection('companies');
	return companies.map(company => ({
		params: { slug: company.slug },
		props: { company },
	}));
}

const { company } = Astro.props;
const { Content } = await company.render();
---
<html lang="en">
	<head>
		<DefaultHead/>
	</head>
	<body>
		<CompanyLayout {...company.data}>
			<Content/>
		</CompanyLayout>
	</body>
</html>

<style>
	body {
		margin: 0;
		padding: 0;
	}
</style>

